numba
numpy<=1.25.4
torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
transformers==4.37.0
tqdm
more-itertools
decorator
attrs
psutil
absl-py
cloudpickle
scipy
synr==0.5.0
tornado
pandas
sentencepiece
accelerate
datasets
tiktoken
#pybind11>=2.12
#soundfile
#evaluate
#datasets
#tqdm
#more-itertools
#tiktoken
#decorator
#attrs
#psutil
#absl-py
#cloudpickle
#scipy
#synr==0.5.0
#tornado
#pandas
#sentencepiece
#accelerate
#librosa
#jiwer
#gradio